<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<app-notification></app-notification>
<mat-form-field class="example-full-width">
<input matInput #plant
       (keyup.enter)="searchPlant(plant.value)">
</mat-form-field>

<button mat-button (click)="searchPlant(plant.value)">Add</button>

<div *ngIf="selectedPlant; else noselection">
  <app-plant-card [selectedPlant]="selectedPlant"></app-plant-card>
</div>

<ng-template #noselection>
  <p>please select something present on our Database</p>
  <p>try: fruit1 or fruit2</p>
</ng-template>

