<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<app-notification></app-notification>
<hr />
<input #plant name="plant"
       (keyup.enter)="searchPlant(plant.value)">

<button mat-button (click)="searchPlant(plant.value)">Add</button>

<div *ngIf="selectedPlant; else noselection">
  <app-plant-card [selectedPlant]="selectedPlant"></app-plant-card>
</div>

<ng-template #noselection>
  <p>please try something present in our Database : </p>
  <ul>
    <li>fruit1</li>
    <li>fruit2</li>
    <li>legume1</li>
    <li>legume2</li>
    <li>legume3</li>
  </ul>
</ng-template>

