<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<mat-form-field class="example-full-width">
<input matInput #plant
       (keyup.enter)="searchPlant(plant.value)">
</mat-form-field>

<button mat-button (click)="searchPlant(plant.value)">Add</button>

<div *ngIf="selectedPlant; else noselection">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{selectedPlant.name}}</mat-card-title>
      <mat-card-subtitle>{{selectedPlant.id}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{selectedPlant.category}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="goToWiki()" mat-button>More Infos</button>

    </mat-card-actions>
  </mat-card>
</div>

<ng-template #noselection>
  <p>please select something present on our Database</p>
  <p>try: fruit1 or fruit2</p>
</ng-template>

